## Fazendo análise dos meus commits

In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import datetime
import nbformat
import plotly.express as px
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode (connected = True )
from IPython.display import display

In [39]:
# para resolver o problema: "(unicode error) 'utf-8' codec can't decode "
# https://www.youtube.com/watch?v=ZSC7X4N8RKo,
#Erro: 
# UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 900: invalid continuation byte
# enem = pd.read_csv("MICRODADOS_ENEM_2020.csv", encoding="utf-8", sep = ';')
# enem = pd.read_csv("MICRODADOS_ENEM_2020.csv", encoding="ISO-8859-1", sep = ';')

commits= pd.read_csv(r'C:\Users\ctobr\OneDrive\DATA_Science\1_farina_in_natura\COMMIT-LOG.csv', 
encoding="ISO-8859-1", sep = ';')

In [40]:
commits.head()

,DAta,commit_id,user_name,user_email,mensagem,Column6
0,03/03/2023 17:25,279cbd2,Claudio,ctobrasil@outllok.com,colocamos um codigo para deletar a ultima coluna,NaN
1,03/03/2023 17:25,d065d55,Claudio,ctobrasil@outllok.com,Adicionei um comando .info() ao come?ºo do arq...,NaN
2,03/03/2023 17:25,7aebfd3,Claudio,ctobrasil@outllok.com,ser?í usado um CSV que foi importado no Excel.,NaN
3,03/03/2023 17:24,4a60f0b,Claudio,ctobrasil@outllok.com,Alteramos o separador do comando para virgula,NaN
4,03/03/2023 15:53,f978e48,Claudio,ctobrasil@outllok.com,mofificada a planilha,NaN

In [54]:
commits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 136 entries, 0 to 135
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DAta         136 non-null    datetime64[ns]
 1   commit_id    136 non-null    object
 2   user_name    136 non-null    object
 3   user_email   136 non-null    object
 4   mensagem     136 non-null    object
 5   dia          136 non-null    object
 6   hora         136 non-null    int64
 7   minuto       136 non-null    int64
 8   hora_minuto  136 non-null    object
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 9.7+ KB

In [42]:
### CHECK OUT IF THE NUMBER OF TOTAL ENTRIES IS EQUAL TO THE NUMBER OF ENTRIES OF THE VARIABLES  

commits.isnull().sum()

DAta            0
commit_id       0
user_name       0
user_email      0
mensagem        0
Column6       136
dtype: int64

In [44]:
del commits["Column6"]

In [56]:
commits.head()

,data,commit_id,user_name,user_email,mensagem,dia,hora,minuto,hora_minuto
0,2023-03-03 17:25:00,279cbd2,Claudio,ctobrasil@outllok.com,colocamos um codigo para deletar a ultima coluna,2023-03-03,17,25,17:25:00
1,2023-03-03 17:25:00,d065d55,Claudio,ctobrasil@outllok.com,Adicionei um comando .info() ao come?ºo do arq...,2023-03-03,17,25,17:25:00
2,2023-03-03 17:25:00,7aebfd3,Claudio,ctobrasil@outllok.com,ser?í usado um CSV que foi importado no Excel.,2023-03-03,17,25,17:25:00
3,2023-03-03 17:24:00,4a60f0b,Claudio,ctobrasil@outllok.com,Alteramos o separador do comando para virgula,2023-03-03,17,24,17:24:00
4,2023-03-03 15:53:00,f978e48,Claudio,ctobrasil@outllok.com,mofificada a planilha,2023-03-03,15,53,15:53:00

In [60]:
# Add an item count variable equal to one for future groupby operations

commits['item_count'] = 1

In [45]:
# Convert "DAta" to datetime object
commits['DAta'] = pd.to_datetime(commits['DAta'], format='%d/%m/%Y %H:%M')

In [48]:

# Creating a horario column that is a copy of data_hora and coverting it to datetime and extracting only the day;
commits['dia'] = (commits['DAta'])
commits['dia'] = commits['dia'].dt.date

#How to Solve Python ValueError: unconverted data remains
#read://https_researchdatapod.com/?url=https%3A%2F%2Fresearchdatapod.com%2Fhow-to-solve-python-valueerror-unconverted-data-remains%2F

In [50]:
# https://www.dataquest.io/blog/python-datetime-tutorial/


# add hora and minuto column; using class attributes .hour and .minute

commits['hora'] = commits.DAta.dt.hour
commits['minuto'] = commits.DAta.dt.minute

In [52]:
# https://gist.github.com/krisbolton/aef6179ecf906892565d326b979b3a5b
# https://www.youtube.com/watch?v=TbXaP56Omuc


commits['hora_minuto']=pd.to_datetime(commits['DAta'])

commits['hora_minuto'] = commits['DAta'].dt.time

In [55]:
# https://www.statology.org/pandas-rename-columns/
# renaming the column

commits.rename(columns = {'DAta':'data'}, inplace = True)

In [58]:
## https://datagy.io/pandas-extract-date-from-datetime/
commits['data'] = commits['data'].dt.normalize()

In [59]:
# https://pt.stackoverflow.com/questions/508484/mostrar-dias-da-semana#:~:text=Como%20weekday()%20retorna%20um,fim%20de%20semana%20ou%20n%C3%A3o.

import locale
# setar locale para português para que os dias da semana retornem em portugês no código abaixo.
locale.setlocale(locale.LC_ALL, 'pt_BR.utf8')

'pt_BR.utf8'

In [61]:
# Sales trend by date
# https://www.youtube.com/watch?v=Xjm7fOw6gjY
# use reset index for transforming the data in a variable not a index

grouped_by_date = pd.DataFrame(commits.groupby(by='dia')['item_count'].sum().reset_index())

In [63]:
grouped_by_date.head()

           dia  item_count
0   2022-11-17           3
1   2022-11-18           7
2   2022-11-19           9
3   2022-11-21           2
4   2022-11-22           3
5   2022-11-24           2
6   2022-11-26           2
7   2022-12-10          14
8   2022-12-12           1
9   2022-12-13           4
10  2022-12-14           2
11  2022-12-27           2
12  2022-12-28           7
13  2022-12-29           3
14  2022-12-30           5
15  2022-12-31           1
16  2023-01-02           4
17  2023-01-03           2
18  2023-01-04           3
19  2023-01-05           9
20  2023-01-06           1
21  2023-01-07           1
22  2023-01-09           3
23  2023-01-10           1
24  2023-01-22           1
25  2023-01-24           3
26  2023-01-27           1
27  2023-01-28           2
28  2023-01-29           5
29  2023-01-30           7
30  2023-01-31          11
31  2023-02-03           1
32  2023-02-18           1
33  2023-03-01           2
34  2023-03-02           1
35  2023-03-03          10