## Fazendo análise dos meus commits

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import datetime
import nbformat
import plotly.express as px
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode (connected = True )
from IPython.display import display

In [34]:
# para resolver o problema: "(unicode error) 'utf-8' codec can't decode "
# https://www.youtube.com/watch?v=ZSC7X4N8RKo,
#Erro: 
# UnicodeDecodeError: 'utf-8' codec can't decode byte 0xe9 in position 900: invalid continuation byte
# enem = pd.read_csv("MICRODADOS_ENEM_2020.csv", encoding="utf-8", sep = ';')
# enem = pd.read_csv("MICRODADOS_ENEM_2020.csv", encoding="ISO-8859-1", sep = ';')

commits= pd.read_csv(r'C:\Users\ctobr\OneDrive\DATA_Science\1_farina_in_natura\COMMIT-LOG.csv', 
encoding="ISO-8859-1", sep = ';')

In [35]:
commits.head()

,DAta,commit_id,user_name,user_email,mensagem,Column6
0,03/03/2023 16:45,68e61ed,Claudio,ctobrasil@outllok.com,Adicionei um comando .info() ao come?ºo do arq...,NaN
1,03/03/2023 16:36,053edc1,Claudio,ctobrasil@outllok.com,ser?í usado um CSV que foi importado no Excel.,NaN
2,03/03/2023 16:02,10f7ccb,Claudio,ctobrasil@outllok.com,"Alteramos o separador do comando para """,.
3,03/03/2023 15:53,f978e48,Claudio,ctobrasil@outllok.com,mofificada a planilha,NaN
4,03/03/2023 12:13,65f385e,Claudio,ctobrasil@outllok.com,adicionei o arquivo commmit-log.,NaN

In [36]:
commits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 135 entries, 0 to 134
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DAta        135 non-null    object
 1   commit_id   135 non-null    object
 2   user_name   135 non-null    object
 3   user_email  135 non-null    object
 4   mensagem    135 non-null    object
 5   Column6     1 non-null      object
dtypes: object(6)
memory usage: 6.5+ KB

In [37]:
### CHECK OUT IF THE NUMBER OF TOTAL ENTRIES IS EQUAL TO THE NUMBER OF ENTRIES OF THE VARIABLES  

commits.isnull().sum()

DAta            0
commit_id       0
user_name       0
user_email      0
mensagem        0
Column6       134
dtype: int64

In [32]:
del commits["Unnamed: 5"]

In [33]:
commits.head()

,DAta,commit_id,user_name,user_email,mensagem
0,03/03/2023 16:45,68e61ed,Claudio,ctobrasil@outllok.com,Adicionei um comando .info() ao come?ºo do arq...
1,03/03/2023 16:36,053edc1,Claudio,ctobrasil@outllok.com,ser?í usado um CSV que foi importado no Excel.
2,03/03/2023 16:02,10f7ccb,Claudio,ctobrasil@outllok.com,"Alteramos o separador do comando para """
3,03/03/2023 15:53,f978e48,Claudio,ctobrasil@outllok.com,mofificada a planilha
4,03/03/2023 12:13,65f385e,Claudio,ctobrasil@outllok.com,adicionei o arquivo commmit-log.